{% extends 'base.html' %}
{% load bootstrap4 %}

    {% block content %}

        <div class="container">
            <h1>Cadastro</h1>
            {% bootstrap_messages %}

            <form action="{% url 'cadastro' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-dark">Cadastrar</button>
                {% endbuttons %}
            </form>

        </div>

    {% endblock %}